/* 
 * http://colourco.de/complement/5/%23622122
 * $color1: #1c4746; // Dark Blue
 * $color2: #1e5251; // Blue
 * */

/* Hacks
-----------------------------------------*/
body {
    margin:0; padding: 0;
    border-bottom: 10px solid #1c4746;
    background: white url('http://www.treerock.me/assets/stripe.png') repeat-x top left;
    padding-top: 25px;
    min-width: 320px;
} 
.clearfix:before, .clearfix:after {
    content:"";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1;
}
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Basics
 * */


footer {
    background-color: #1c4746;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover, a:active{
    outline: 1px dotted #999;
    
}

.container {
    margin: 0 5px;
    max-width: 768px;
}

/* Header
 * */

header h1, header p {
    font-family: 'Vollkorn', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0; padding:0;
    text-align:center;
}

header h1 {
    font-size: 64px;
    border-bottom: 1px solid #5c2021;
}

header p {
    font-size: 36px;
    margin-top: -0.7em;
    text-transform: uppercase;
}

.sub span{
    background-color: white;
    padding: 0 5px;
}

/* Nav
 * */
nav {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #FFFFFF),
        color-stop(1, #EEE)
    );
    background-image: -o-linear-gradient(bottom, #FFFFFF 0%, #EEE 100%);
    background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EEE 100%);
    background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EEE 100%);
    background-image: -ms-linear-gradient(bottom, #FFFFFF 0%, #EEE 100%);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #EEE 100%);
    height: 32px;
    line-height: 31px;
}

nav ul {
    list-style:none;
    margin: 0; padding: 0;
}

nav li {
    float: left;
    width: 50%;
}

nav a {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: small;
    text-decoration: none;
    border-left: 1px solid white;
}

/* Sandbox
 * */

.sandbox {
    margin: 30px 0;
}

.item {
    color: #777;
    border-bottom: 1px solid #ddd;
}
.item:first-child {
    border-top: 1px solid #ddd;
}
.item p {
    margin: 0; padding:0;
    line-height: 1.2;
}

.i-type {float: left; width: 90px; font-size: small; margin-top: 5px;}
.i-name {margin: 5px 0 5px 90px;}
.i-tags {text-align: left;}
.i-date {text-align: center;}
.i-links {text-align: right;}

.i-name a {
    color: black;
    font-weight: bold;
}

.i-tags, .i-date, .i-links {
    float:left;
    font-size: small;
    margin-bottom: 5px;
    width: 33.3333333%;
}


/* Full Width
-----------------------------------------*/
@media (min-width: 768px){
	/* Sandbox
	 * */
    .container {
        margin: 0 auto;
    }
    .item {
        /*border: 1px solid red;*/
    }

} 