
/* Sandbox
 * */

.sandbox {
    margin: 30px 0;
}

.item {
    color: #143937;
    border-bottom: 1px solid #1c4746;
    padding: 0 2px;
}
.item:first-child {
    border-top: 1px solid #1c4746;
}
.item p {
    margin: 0; padding:0;
    line-height: 1.2;
}

.i-type {
    float: left; 
    width: 90px; 
    font-size: small; 
    padding-top: 5px; 
    padding-left: 20px;
    background: white url('../images/mark.png') no-repeat top left;
}
.i-name {margin: 5px 0 5px 90px;}
.i-tags {text-align: left;}
.i-date {text-align: center;}
.i-links {text-align: right;}

.i-name a {
    color: black;
    font-weight: bold;
}

.i-tags, .i-date, .i-links {
    float:left;
    font-size: small;
    margin-bottom: 5px;
    width: 33.3333333%;
}