.clearfix:before, .clearfix:after {
  content:"";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin:0;
  padding: 0;
	background-color: #143937;
	color: white;
  min-width: 320px;
}

header {
	background: white url('http://www.treerock.me/assets/stripe.png') repeat-x top left;
	color: black;
}
#main {
	background-color: white;
	color: black;
}
footer {
  background-color: #143937;
  color: white;
	border: 1px solid #143937; /* collapses margin or something */
}
a {
  text-decoration: underline;
  color: inherit;
}
a:hover, a:active {
  text-decoration: none;
}
.content {
  margin: 0px;
  padding: 10px;
}

header {
  /*border-top: 5px solid black;*/
}
header h1, header p {
  font-family:'Vollkorn', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding:0;
}
header h1 {
	/* Background image is 25px high */
  font-size: 21px;
	height: 25px;
  padding:0; margin: 0;
	margin: -10px 0 0 0; /* Negate padding */
}
header h1 span {
	background-color: rgba(255, 255, 255, 0.7);
}
header p {
  font-size: 1.25em;
  text-transform: uppercase;
  color: #143937;
}


.log {
	background-color: #224443;
	color: white;
  font-family: monospace;
	overflow: auto;
}
.log p {
  line-height: 1.1;
  margin: 0;
	white-space: nowrap;
}
.log h2 {
	font-size: 1em;
	font-weight: normal;
	margin:2px 0; padding: 0;
	border-bottom: 1px dashed white;
	color: white;
}

.portfolio {
  font-size: 0.875em;
}
.portfolio .item{
  width: 200px; height: 200px;
  overflow: hidden;
  position: relative;
  float: left;
  margin: 20px;
}
.portfolio .content {
  z-index: 100;
  position: relative;;
  margin: 10px;
  height: 180px;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.5);
}
.portfolio img {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}

.portfolio h2 {
  font-size: 1.25em;
  text-align: center;
  margin: 0; padding: 0;
}
.portfolio p {
  text-align: justify;
  margin: 0.4em 0;
}
.portfolio .link{

  text-align: center;
  position: absolute;
  left:10%; top: 155px;
  z-index: 100;
  width: 80%;
}

.portfolio .link a {
  display: block;
  padding: 2.5px 0;
  color: #143937;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.5);
}
.portfolio .link a:hover {
  background-color: rgba(0,0,0, 0.5);
  color: white;
}

