.clearfix:before, .clearfix:after {
  content:"";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin:0;
  padding: 0;
	background-color: #143937;
	color: white;
  min-width: 320px;
}

header {
	background: white url('http://www.treerock.me/assets/stripe.png') repeat-x top left;
	color: black;
}
#main {
	background-color: white;
	color: black;
}
footer {
  background-color: #143937;
  color: white;
	border: 1px solid #143937; /* collapses margin or something */
}
a {
  text-decoration: underline;
}
a:hover, a:active {
  text-decoration: none;
}
.content {
  margin: 0px;
  padding: 10px;
}

header h1, header p {
  font-family:'Vollkorn', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding:0;
}
header h1 {
	/* Background image is 25px high */
  font-size: 18px;
	height: 25px;
  padding:0; margin: 0;
	margin-top: -10px; /* Negate padding */
}
header h1 span {
	height: 21px;
	margin: 2px;
	padding: 1px;
	background-color: rgba(255, 255, 255, 0.65);
}
header p {
  font-size: 16px;
  text-transform: uppercase;
  color: #143937;
	text-align: right;
}


.log {
	background-color: #224443;
	color: white;
  font-family: monospace;
	overflow: auto;
}
.log p {
  line-height: 1.1;
  margin: 0;
	white-space: nowrap;
}
.log h2 {
	font-size: 1em;
	font-weight: normal;
	margin:2px 0; padding: 0;
	border-bottom: 1px dashed white;
	color: white;
}