
/* Sandbox
 * */



.row:after {
    display: table;
    content: " ";
    clear: both;
}

.col {
    float: left;
    margin: 0; padding: 0;
}

.col-3{
    width: 25%;
}

.col-9 {
    width: 75%;
}

blockquote{
    margin: 30px; padding: 10px 15px;
    border-left: 1px dotted #143937;
}
blockquote p {
    margin: 8px 0;
    line-height: 1.3;
}
blockquote:before {
    display: block;
    height: 30px; width: 30px;
    margin-left: -10px; margin-top: -30px;
    content: " ";
    background: white url(../images/quote.jpg) no-repeat top left;
}

h2.post-date {
    color: #143937;
    font-size: medium;
    font-weight: normal;
    padding: 0; margin:16px 0;
}

